@CHARSET "ISO-8859-1";
.wpthemeStandard.wpthemeControl{
  border:none;
  box-shadow:none;
}

.wlcarspannel {
margin-top: 10px;
}

.createpetbutton{
font-size:13px;
margin-left:14px;
}

.creategroupingbutton{
font-size:13px;
margin-left:2px;
}

.inactivepetsbutton{
font-size:13px;
margin-left:2px;
}

.activepetbutton{
font-size:13px;
margin-left:2px;
}

.searchpetbutton{
font-size:13px;
margin-left:2px;
margin-right:2px;

}

.selectAllCheckBox{
margin-left: 0.5cm;
width:20px;
}

.deptmaintable{
width: 100%; 
border: 0px;
}
.deptintable{
width:90%;
margin-left:20px;
margin-bottom:20px;
}

.deptintabletrheading{
background-color:#f0f0f0;
}
.deptintableborder{
padding-left: 15px;
border:1px solid black;
}

.deptintdSearchText{
padding-left: 0px;
border:1px solid black;
}

.scrollbarset{
height:450px;
overflow:auto;
}

.scrollbarsetdept{
height:100px;

overflow:auto;
}

.deptintableborderfirst{
border:1px solid black;
width:34px;
}
.deptintablebordersecond{
padding-left: 5px;
border:1px solid black;
width:94px;
}
.deptintableborderthird{
padding-left: 15px;
border:1px solid black;
width:250px;
}
.deptintableborderfirstf{
border:1px solid black;
width:34px;
}
.deptintablebordersecondf{
padding-left: 0px;
border:1px solid black;
width:94px;
}
.deptintableborderthirdf{
padding-left: 15px;
border:1px solid black;
width:250px;
}
.deptintableborderfirstin{
padding-left: 15px;
border:1px solid black;
width:12px;
}
.deptintablebordersecondin{
padding-left: 5px;
border:1px solid black;
width:100px;
}
.deptintableborderthirdin{
padding-left: 15px;
border:1px solid black;
width:250px;
}

.selectedDeptSearchtxtbox{
width:83px;

}


.web_dialog_overlay_advSearch
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}

.web_dialog_overlay_advSearch_popup
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .16;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 103;
   display: none;
}


.popupborderline{
padding-left: 15px;
border:1px solid black;
}