<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>

<table style="width:100%" border="0">
  <tr>
      <td>
          <table style="width:50%">
                  <tr>
                    <th>PIM Tables(DB2)</th>
                    <th>Total Count</th>		

                  </tr>


                  #foreach( $key in $outputDb2TablesCountMap.keySet() )
                  <tr>
                    <td>$key</td>
                    <td>$outputDb2TablesCountMap.get($key)</td>
                     </tr>
                  #end
  
        </table>
      </td>
      <td>
          <table style="width:50%">
              <tr>

                <th>PEP Tables(Oracle)</th>
                <th>Total Count</th>
              </tr>


             #foreach( $key in $outputOracleTablesCountMap.keySet() )
                  <tr>
                    <td>$key</td>
                    <td>$outputOracleTablesCountMap.get($key)</td>
                </tr>
            #end   
        </table>

      </td>      
    </tr>
</table>    

</body>
</html>
