<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        ">

	<context:component-scan base-package="com.belk.pep.domain"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- DB configuration for local Development Database  
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url"
			value="jdbc:oracle:thin:@//000PIMPMDBDV02.belkinc.com:1521/VPORTDV"></property>
		<property name="username" value="VENDORPORTAL"></property>
		<property name="password" value="vendorportal"></property> 
		<property name="maxActive" value="100"/>
		<property name="minPoolSize" value="50"/>      
        <property name="maxWait" value="1000"/>
        <property name="maxIdle" value="15"/>
        <property name="removeAbandoned" value="true"/> 
        <property name="removeAbandonedTimeout" value="120"/>  -->   
		
		
		
		<!-- DB configuration for SIT   Database-->
	   <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@//000PIMPRDBPT01.belkinc.com:1521/VPORTPT"></property>
		<property name="username" value="VENDORPORTAL"></property>
		<property name="password" value="vportpt"></property>
		<property name="maxActive" value="100"/>		 
        <property name="maxWait" value="1000"/>
        <property name="maxIdle" value="15"/>
        <property name="removeAbandoned" value="true"/> 
        <property name="removeAbandonedTimeout" value="120"/>        
		
	</bean>

	<bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.default_schema">VENDORPORTAL</prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
                     <list>
                           <value>com.belk.pep.domain.Config</value>
                           <value>com.belk.pep.domain.PetAttribute</value>
                           <value>com.belk.pep.domain.PepRole</value>
                           <value>com.belk.pep.domain.BelkUser</value>
                           <value>com.belk.pep.domain.ExternalUserPK</value>
 						   <value>com.belk.pep.domain.ExternalUser</value>
                           <value>com.belk.pep.domain.PepDepartmentPK</value>                          
                           <value>com.belk.pep.domain.PepDepartment</value> 
                     </list>
</property>

		
	</bean>
	

	<bean id="loginController" class="com.belk.pep.controller.InternalPortalLoginController">
		<property name="loginDelegate" ref="loginDelegate" />
	</bean>

	<bean id="loginDelegate" class="com.belk.pep.delegate.InternalPortalLoginDelegate">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userService" class="com.belk.pep.service.impl.InternalPortalLoginServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userDao" class="com.belk.pep.dao.impl.InternalPortalLoginDaoImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>


</beans>
