.group-create-area, .group-search-area, .group-search-result-area, .group-search-footer-area{width:100%; margin: 5px 0 5px 0;}
.group-create-area select{border: 1px solid #ccc; height:26px; border-radius:4px;}
.group-search-area fieldset{border: 1px solid #008FD4; padding: 10px;}
.group-search-area input[type=text]{height:18px; width: 80%}
.group-search-area .cell{float: left; width:32%; margin:3px;}
.clearfix{clear:both; content: ''; display:table;}
.footer-content{margin: 0 auto; width: 10%;}
.btn{display: inline !important; padding:3px !important; margin:2px !important; cursor: pointer !important; float: none !important;}
.content-table{margin: 0 auto; padding: 5px; width: 95%}
.content-table td, .content-table th{padding: 5px;}
table.border-simple{border: 1px solid #dddddd}
.border-simple td, .border-simple th{border: 1px solid #dddddd;}
.border-simple th{text-align:center; font-weight: bold;}
table.colored-row{width: 95%; margin-top: 10px; margin-bottom: 10px;}
table.colored-row tr:nth-child(even){#background-color: #B8CFEE}
table.colored-row .text-center{text-align:center;}
.hidden{display:none;}
.divider{content: ''; width:100%; border: 2px solid #008FD4}
/* .overlay_pageLoading{   
   position: fixed;
   width: 550px;
   height: 250px;
   top: 40%;
   left: 40%;	
   z-index: 9999;   
} */
.overlay_pageLoading {width: 100%;height: 100%;position: fixed;left:0;top:0;background-color: rgba(0,0,0,0.5);}
.overlay_pageLoading img {position: absolute;top: 50%;left: 44%;width: 128px;}

/* css rules for ui dialog */
.dlg-custom .ui-widget-header {background: #369 repeat-x;color: #fff;}
.dlg-custom .ui-dialog-titlebar-close {display: none;}
.dlg-custom select{height:24px; border-radius:4px; width: 100%}
.dlg-custom input[type=text], .dlg-custom textarea{margin: 3px 0 3px 0; width: 100%}
.dlg-custom input{height:24px;}
.dlg-custom textarea{height: 110px; resize: none;}
.dlg-custom td{padding: 5px;}
.ui-datepicker-trigger{background: transparent; border: none;}
.dialog-wrapper{width: 100%; height: 98%; border: 2px solid #369 }
.red-text{color:red; font-size: 10px}
.charlimit{font-size:10px;}
.optional-fields{display:none;}
.added-fields{}

/* css rules for grid table and pagination specific elements */
.tree-grid .expander{padding-right: 2px;} 
.tree-grid .branch{padding-left: 10px;}
.tree-grid .leaf{padding-left: 30px;}
.tree-grid .root-leaf{padding-left: 20px;}

.pagination-container{margin: 0 auto; width: 95%;}
.pagination-left{float: left; width: 50%; height: 35px;}
.pagination-left .pagination-left-wrapper{margin-top: 10px; margin-bottom: 10px;}
.pagination-right{float: left; width: 50%; text-align:right; height: 35px;}
ul.paginator{margin-top: 10px; margin-bottom: 10px;}
ul.paginator li{display: inline;}
ul.paginator li span, ul.paginator li a{#position: relative;#float: left;padding: 6px 12px;margin-left: -4px;line-height: 1.42857143;color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
ul.paginator li a:hover{color: #23527c; background-color: #eee; border-color: #ddd; text-decoration: none;}
ul.paginator li a.active{color: #23527c; background-color: #eee; border-color: #ddd; text-decoration: none; cursor:default;}

.checkboxAlign{margin-left:11px;}
.checkboxAlign-existing{margin-left:23px;}
#group-creation-messages{min-height:20px}
